﻿
@model Dicom.Models.Study


<div>
    <h4>Study Information:</h4>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyTime)
            </th>

            <th></th>
        </tr>


            <tr>
                <td>
                    @Html.DisplayFor(model => model.StudyId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AccessionNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.StudyDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.StudyTime)
                </td>
                
            </tr>


    </table>

</div> 